.DS_Store
Thumbs.db
.settings
logs/*
settings.xml
.netbeans
/bower_components/*
/bower_components
/node_modules/*
/node_modules
tests/results/*
apidocs/docbox/
artifacts/
workbench/build.number
build/*
modules/*
!modules/cbi18n
!modules/test1
coldbox
testbox
